@model CadastroPescador.Models.UsuarioExternoModel
@{
    ViewData["Title"] = "Cadastrado com Sucesso";
}

<div class="card">
    <h5 class="card-header">Sucesso!</h5>
    <div class="card-body">
        <h5 class="card-title">Usuário Cadastrado</h5>
        <p class="card-text">Você receberá um e-mail em instantes com suas credenciais de acesso. (@Model.Email).</p>
    </div>
</div>


