@model CadastroPescador.Models.DocumentoLoginModel

@{
    ViewData["Title"] = "VerificaUsuario";
}


<div class="card">
    <h5 class="card-header">Aviso</h5>
    <div class="card-body">
        <h5 class="card-title">Usuário Existente</h5>
        <p class="card-text">Ja existe um usuário criado com os documentos informados, caso nao tenha mais a senha clique no link abaixo e será enviado para  (@Model.Email). </p>
        <a href="https://sistemasweb.agricultura.gov.br/sap-sistainha/" class="btn btn-primary">Recuperar Senha</a>
    </div>
</div>

