
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .06);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    color: #59595B;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

img {
    width: 50%;
    margin: 0 auto;
}

.error {
    border: solid 1px red;
}

label {
    font-weight: 600;
}

.progresso {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
    z-index: 100;
}

    .progresso img {
        display: block;
        position: relative;
        width: 50px;
        top: 50%;
    }

    .progresso span {
        display: block;
        position: relative;
        top: 50%;
    }

#notifiqueCPF {
    display: none;
}
#notifiqueCNPJ {
    display: none;
}
#notifiqueEmail {
    display: none;
}
