@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="card">
    <h5 class="card-header">Erro</h5>
    <div class="card-body">
        <h5 class="card-title">Ocorreu um erro</h5>
        <p class="card-text">Desculpe, ocorreu um erro tente novamente clicando no link abaixo</p>
        <a href="" class="btn btn-primary">Tentar Novamente</a>
    </div>
</div>